
:root {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;

  --process-cyan: hsla(195, 86%, 50%, 1);
  --blue-ncs: hsla(200, 78%, 41%, 1);
  --yinmn-blue: hsla(210, 68%, 33%, 1);
  --penn-blue: hsla(236, 48%, 24%, 1);
}

/*  */
body{
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  font-family: "Alatsi", sans-serif;
  background: black;
}

/* Estilos Header */
.header{
  background-color: black;
  height: 100vh;
  grid-area: header;
  position: relative;
}

/* Estilos navbar*/
.navbar{
  display: flex;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; 

  background: black;
}

.navbar .contenedor{
  width: 100%;
  margin: 10px 15px 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilos Marca */
.contenedor .marca a{
  font-size: min(calc(2vw + 1.5rem), 3rem);
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Bangers', sans-serif;
}

.contenedor .marca a:hover{
  color: var(--process-cyan);
}

.contenedor .marca a span{
  color: var(--process-cyan);
}

/* Estilos libreria aos */


/* Estilos boton menu */
.btn{
  height: min(calc(2rem + 1rem), 3rem);
  background-color: black;
  text-align: center;
  border: 3px solid var(--process-cyan);
  border-radius: 8px;
  font-size: min(calc(2vw + 0.7rem), 1.3rem);
  transition: .3s;
}

.btn a{
  text-decoration: none;
  padding: 0 10px 0 10px;
  color: var(--process-cyan);
}

.btn:hover{
  transform: scale(1.1);
}

.imagenFondo{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;    
  justify-content: center;
}

.imagenFondo img{
  height: 100%;
  width: 100%;
  object-fit:cover;  
}

.contenedorTexto{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
 
  background: transparent;
  position: absolute;
  text-align: center;
  z-index: 2;
}

.contenedorTexto h2{
  margin: 0%;
  color: #fff;
  font-size: min(calc(3vw + 1.3rem), 3rem);
  text-shadow: 5px 5px black;
}

.contenedorTexto p{
  text-shadow: 2px 2px black;
  margin: 0%;
  color: #fff;
  font-weight: 700;
  font-size: min(calc(2vw + 0.8rem), 2rem);
}

/*
* Estilos Cuerpo de pagina
*/

.main{
  display: grid;
  grid-area: main;
}

.contenedorMain{
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contenedorMain article{
  margin: 100px 55px 100px 55px;
}

.contenedorMain h2{
  font-size: min(calc(3vw + 1.3rem), 3rem);
  color: var(--process-cyan);
  
}

.contenedorMain p{
  font-size: min(calc(2vw + 0.8rem), 2rem);
  color: whitesmoke;
}

.servicios{
  display: grid;
  grid-auto-rows: 35rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 45rem));
  justify-content: center;
  gap: 4rem;
  background: black;
}


.servicios .carta{
  border: 3px solid var(--process-cyan);
  border-radius: 30px;
  background: black;
}

.servicios .carta hr{
  border: solid var(--process-cyan);
}

.servicios .carta h2{
  text-align: center;
  font-size: min(calc(1vw + 1.7rem), 2rem);
  color: var(--process-cyan);
}


.servicios .carta ul li{
  list-style: none;
  font-size: min(calc(1vw + 1.3rem), 1.5rem);
  color: whitesmoke;
  padding-top: 10px;
}

/*
* Estilos Footer
*/

.footer{
  display: grid;
  grid-auto-rows: 35rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 45rem));
  gap: 2rem;
  justify-content: center;
  padding-top: 150px;
  color: whitesmoke;
}

.contenedorFooter article h2,
.contenedorFooter2 article h2{
  font-size: min(calc(1vw + 1.7rem), 3rem);
  color: var(--process-cyan);
}

.contenedorFooter article p{
  font-size: min(calc(1vw + 1.2rem), 1.5rem);
}

.contenedorFooter2 article ul{
  list-style: none;
  font-size: min(calc(1vw + 1.2rem), 1.5rem);
}

.contenedorFooter2 article .redes{
  display: flex;
  gap: 30px;
  font-size: min(calc(1vw + 2rem), 4rem);
}

.contenedorFooter2 article .redes li:hover{
  color: var(--process-cyan);
  scale: 1.2;
}